{%set disabledKey=['id','position','class','disableautocomplete','autocomplete']%}
<table width="100%">
    <thead>
        <tr>
            <th>属性</th>
            <th>值</th>
        </tr>
    </thead>
    <tbody>
        {%for k,v in ele.mProps%}
            <tr>
                <td>{{k}}</td>
                <td>
                    {%if propSelector[k]%}
                                        <select class="p/{{k}}">
                                            {%for kitem,vitem in propSelector[k]%}
                                            <option value="{{kitem}}" {%if v==kitem%}selected{%endif%}>{{vitem}}</option>
                                            {%endfor%}
                                        </select>
                    {%else%}
                                        <input type="input" class="p/{{k}}" value="{{v}}" autocomplete="off"  {%if k in disabledKey%}disabled="disabled"{%endif%}/>
                    {%endif%}
                </td>
            </tr>
        {%endfor%}
        <tr>
            <td>文本</td>
            <td><input type="input" class="t/innerText" value="{{ele.mInnerText}}" autocomplete="off"/></td>
        </tr>
        {%for cssCollection in [ele.mPrefixSelectors,ele.mSuffixSelectors]%}
        {%for selector,props in cssCollection%}
        <tr>
            <td colspan="2">{%if ''==selector%}默认{%else%}{{selector}}{%endif%}样式</td>
        </tr>
            {%for k,v in props%}
                <tr>
                    <td>{{k}}</td>
                    <td>
                        {%if propSelector[k]%}
                            <select class="c/{{selector}}/{{k}}">
                                        {%for kitem,vitem in propSelector[k]%}
                                            <option value="{{kitem}}" {%if v==kitem%}selected{%endif%}>{{vitem}}</option>
                                        {%endfor%}
                            </select>
                        {%else%}
                            <input {%if 'z-index'==k%}type="number" min="0" max="1000"{%else%}type="input"{%endif%} class="c/{{selector}}/{{k}}" value="{{v}}" disableautocomplete autocomplete="off" {%if k in disabledKey%}disabled="disabled"{%endif%}/>
                        {%endif%}
                </td>
                </tr>
            {%endfor%}
        {%endfor%}
        {%endfor%}
    </tbody>
</table>