html,body {
width:100%;
height:100%;
overflow:hidden
}

* {
padding:0;
margin:0
}

ul,li {
list-style:none
}
a:focus,button:focus{
    outline: none;
}

.w-fil {
width:100%
}

.h-fil {
height:100%
}

.fl {
float:left
}

.fr {
float:right
}

.fz0 {
font-size:0
}

.ab {
position:absolute
}

.re {
position:relative
}

.bl {
display:block
}

.hc {
margin:0 auto
}

.tc {
text-align:center
}

.cf::after {
content:'';
visibility:hidden;
clear:both;
font-size:0
}
input[readonly]{border:0;background: transparent;}

.editor-content {
padding:0
}

.editor-content .bench {
left:0;
top:0
}

.editor-content .bench .bg {
left:0;
top:0;
background:#000;
opacity:.5
}

.editor-content .canvas {
position:relative;
width:404px;
height:455px;
margin:100px auto;
background:url(http://img.wan.sogou.com/ufo/img/newnav/dialog3/ybg2.png) no-repeat
}

.editor-content .canvas .focus{
    border:1px dashed red !important;
}

.editor-content .dock,.editor-content .dialog {
font-family:'PFDin' ,'Microsoft Yahei',Arial ,sans-serif
}

.editor-content .dock {
width:100%;
font-size:12px;
height:80px;
position:fixed;
bottom:20px;
z-index:9999
}

.editor-content .dock .dock-container {
position:absolute;
height:50px;
background-size: cover;
background-image:url(/static/img/dock.png);
 background-position:center center;
 background-repeat:no-repeat;
}

.editor-content .dock .dock-item {
display:block;
font:bold 12px Arial,Helvetica,sans-serif;
width:40px;
color:#000;
bottom:0;
position:absolute;
text-align:center;
text-decoration:none
}

.editor-content .dock .dock-item .tit {
text-align:center;
color:#000;
display:none;
border-radius:10px;
background:rgba(255,255,255,0.7);
height:20px;
line-height:20px;
position:relative;
margin-bottom:5px
}

.editor-content .dock .dock-item .tit .tri {
width:0;
height:0;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-top:5px solid rgba(255,255,255,0.5);
position:absolute;
left:50%;
margin-left:-5px;
bottom:-5px
}

.editor-content .dock .dock-item img {
border:0;
bottom:0;
left:0;
width:100%;
-webkit-box-reflect:below -16px -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(.5,transparent),to(white));
box-reflect:below -16px -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(.5,transparent),to(white))
}

.editor-content .canvas .ui-draggable.ui-draggable-dragging,.editor-content .canvas .ui-resizable.ui-resizable-resizing {
border:1px solid red!important
}

.editor-content .dialog {
position:fixed;
width:350px;
height:350px;
display:none;
font-size:14px;
top:-webkit-calc(50% - 175px);
top:-moz-calc(50% - 175px);
top:calc(50% - 175px);
left:-webkit-calc(50% - 175px);
left:-moz-calc(50% - 175px);
left:calc(50% - 175px);
z-index:1000
}

.editor-content .dialog .bar {
width:100%;
height:30px;
text-align:center;
position:relative;
line-height:30px;
font-size:13px;
background:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#a7a7a7));
background:-moz-linear-gradient(top,#f1f1f1,#a7a7a7);
cursor:move;
border-top-left-radius:5px;
border-top-right-radius:5px
}

.editor-content .dialog .bar .closer {
position:absolute;
left:0;
width:16px;
height:16px;
padding:8px;
top:0;
cursor:pointer;
background:url(/static/img/closer.png) no-repeat;
background-size:16px auto;
background-origin:content-box;
font-size:0
}
.editor-content .dialog .toast{
    background-color:rgba(255,255,255,0.9);
    text-align: left;
    color:green;
    font: 12px/2 'simsun',arial,sans-serif;
    border-bottom:1px solid green;
    cursor: pointer;
    text-indent: 1em;
    font-weight: 900;
}
.editor-content .dialog .toast.fatal{
    color:green;
    border-bottom:1px solid green;
}

.editor-content .dialog .content {
height:-webkit-calc(100% - 30px);
height:-moz-calc(100% - 30px);
height:calc(100% - 30px);
overflow:scroll;
background-color:rgba(255,255,255,0.9);
border-bottom-left-radius:5px;
border-bottom-right-radius:5px
}

#dialog-about .content {
overflow:hidden
}

#dialog-help .content {
overflow-x:hidden
}

#dialog-about .content .appname {
font-size:14px;
font-weight:700;
font-family:cursive,arial,sans-serif
}

#dialog-about .content p {
text-indent:2em;
line-height:2;
font-size:12px;
margin:10px
}

.editor-content .startup {
position:fixed;
left:0;
top:0;
background:#6e707b url(/static/img/startup.jpg) no-repeat;
background-size:cover;
z-index:1000000
}

.editor-content .startup .list {
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;
position:absolute;
display:none;
left:10px;
top:10px;
font:15px/1.2 'Courier New',Courier,monospace,arial,serif;
color:#fff;
min-width:350px;
border-spacing:0;
overflow-y:hidden;
background:rgba(0,0,0,0.5);
padding:10px;
height:-webkit-calc(100% - 40px);
height:-moz-calc(100% - 40px);
height:calc(100% - 40px)
}

.editor-content .startup .starting {
width:100%;
text-align:center;
color:#fff;
margin-top:5px;
display:none
}

.editor-content .startup .login {
position:fixed;
top:50%;
width:72px;
height:72px;
left:50%;
margin-left:-36px;
margin-top:-36px;
text-align:center;
color:#fff;
font-size:14px
}

.editor-content .startup .login .icon {
width:72px;
height:72px;
background:url(/static/img/sogou.png) center center no-repeat;
background-size:72px auto;
cursor:pointer;
border-radius:36px;
overflow:hidden;
display:none;
-webkit-transition:all .4s;
transition:all .4s
}

.editor-content .startup .login .icon:hover {
-webkit-transition:all .7s linear;
-webkit-transform:rotate(6.28rad);
transition:all .7s;
transform:rotate(6.28rad)
}

.editor-content .topbar {
width:100%;
position:fixed;
font-size:14px;
line-height:20px;
color:#151617;
top:0;
height:20px;
left:0;
z-index:10000;
background:rgba(255,255,255,.6);
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;
background:-webkit-gradient(linear,left top,left bottom,from(rgb(231,231,231)),to(rgb(170,170,170)));
background:-moz-linear-gradient(top,rgb(231,231,231),rgb(170,170,170));

}

.editor-content .topbar .item {
margin:0 5px;
float:left;
color:#151617;
text-decoration: none;
padding: 0 5px;
}

.editor-content .topbar .menu .appname{
    font-family: 'Courier New',Courier,monospace,arial,serif;
    font-weight: 900;
}
.editor-content .topbar .menu a.item:hover{    
    background: rgba(0,0,0,0.6);
    color:#fff;
}

.editor-content .topbar .battery {
background:url(/static/img/battery.png) 0 -220px no-repeat;
width:25px;
height:16px;
position:relative;
top:2px
}

.editor-content .topbar .battery.level-charge {
background-position:0 -80px
}

.editor-content .topbar .battery.level-full {
background-position:0 -100px
}

.editor-content .topbar .battery.level-100 {
background-position:0 -120px
}

.editor-content .topbar .battery.level-75 {
background-position:0 -140px
}

.editor-content .topbar .battery.level-50 {
background-position:0 -160px
}

.editor-content .topbar .battery.level-25 {
background-position:0 -180px
}

.editor-content .topbar .battery.level-empty {
background-position:0 -200px
}

.editor-content .topbar .network {
width:20px;
height:17px;
position:relative;
top:2px;
background:url(/static/img/wifi.png) -32px 0 no-repeat;
}

.editor-content .topbar .network.off {
background-position:-1px 0
}

.editor-content .topbar .notify {
background:url(/static/img/notify.png) no-repeat;
width:25px;
height:16px;
position:relative;
top:1px
}

#dialog-prop table {
border-spacing:0;
border-top:1px rgba(0,0,0,.2) solid;
border-left:1px rgba(0,0,0,.2) solid
}

#dialog-prop td,#dialog-prop th {
border-bottom:1px rgba(0,0,0,.2) solid;
border-right:1px rgba(0,0,0,.2) solid;
text-align:center
}
#dialog-prop td:nth-child(2){
    word-break: break-word;
}
#dialog-setting{
    width: 700px;
    height: 420px
}
.dialog .content fieldset{
    margin: 5px 15px;
    padding: 5px;
    border-radius: 10px
}
.dialog .content fieldset .row{
    margin: 2px 5px;
}
.dialog .content fieldset .row .tit{
    width: 30%;
        display: inline-block;
        text-align: right;
}

.dialog input[type="text"]{
    padding: 2px 5px;
    border-radius: 5px;
}

.dialog button{
    padding: 2px 5px;
    border:1px solid rgb(126,126,126);
    font-size: 12px;
    border-radius: 5px;
    background:-webkit-gradient(linear,left top,left bottom,from(rgb(245,245,245)),to(rgb(162,162,162)));
    background:-moz-linear-gradient(top,rgb(245,245,245),rgb(162,162,162));
    cursor: pointer;
}

#dialog-draft .content li,#dialog-disk .content li{
    text-indent: 2em;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}

#dialog-draft .content li:hover,#dialog-disk .content li:hover{
    background: rgba(0,0,0,0.6);
    color: #fff;
}

#dialog-help ol,#dialog-help li{
    margin-left: 1em;
    list-style-type:decimal;
}
#dialog-new{
    width: 630px;
    height: 150px;
}

#dialog-save{
    width: 343px;
    height: 150px;
}

#dialog-tools .bar{
    height: 50px;
}
#dialog-tools .bar button.showall{
    position: absolute;
    bottom: 5px;
    left: 5px;
}
#dialog-tools .tools-list{

}
#dialog-tools .tools-list li{
    width: 100%;
    display: none;
}
#dialog-tools .tools-list li:first-child{
    display: block;
}
#dialog-tools .tools-list li .item{
    float: left;
    width: 72px;
    text-decoration: none;
    margin: 5px;
}
#dialog-tools .tools-list li .item img{
    margin-left: 7px;
}
#dialog-tools .tools-list li .item span{
    display: block;
    width: 100%;
    color:#333;
    text-decoration: none;
    font-size: 12px;
}