* {
padding:0;
margin:0
}

.w-fil {
width:100%
}

.h-fil {
height:100%
}

.fl {
float:left
}

.fr {
float:right
}

.fz0 {
font-size:0
}

.ab {
position:absolute
}

.re {
position:relative
}

.editor-content {
padding:0
}

.editor-content .bench {
left:0;
top:0
}

.editor-content .bench .bg {
left:0;
top:0;
background:#000;
opacity:.5
}

.editor-content .home {
background:url(/static/img/home.png) no-repeat;
background-size:72px 72px;
width:72px;
height:72px;
position:fixed;
bottom:20px;
left:20px;
z-index:10000;
cursor:pointer;
-webkit-transition:all .4s;
transition:all .4s
}

.editor-content .home:hover {
-webkit-transition:all .7s linear;
-webkit-transform:rotate(6.28rad);
transition:all .7s;
transform:rotate(6.28rad)
}

.editor-content .canvas {
position:relative;
width:404px;
height:455px;
margin:100px auto;
background:url(http://img.wan.sogou.com/ufo/img/newnav/dialog3/ybg2.png) no-repeat
}

.editor-content .dock{
  width:0;
  left: 10%;
  font-size: 12px;
  height: 50px;
  border: 1px solid rgba(124, 124, 124, 0.89);;
  background: rgba(219, 211, 211, 0.4);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  bottom: 20px;
  z-index: 10001;
  display: none;
}
.editor-content .dock .dock-item{width: 48px;margin: 0 5px 2px;float: left;position: relative;top:-20px;height: 68px;cursor: pointer;display: none;}
.editor-content .dock .dock-item:first-child{margin-left: 10px;}
.editor-content .dock .dock-item .tit{text-align: center;display: none;color: #000;border-radius: 10px;background: rgba(255,255,255,0.5);height: 15px;line-height: 15px;position: relative;}
.editor-content .dock .dock-item .tit .tri {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(255,255,255,0.5);
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
}
.editor-content .dock .dock-item:hover .tit{display: block;}
.editor-content .dock .dock-item img{width: 48px;height: 48px;border: 0;position: absolute;bottom: 0;left: 0;
-webkit-box-reflect: below -16px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(.5, transparent), to(white));
}
.editor-content  .canvas .ui-draggable.ui-draggable-dragging,.editor-content  .canvas .ui-resizable.ui-resizable-resizing{border:1px solid red !important;}
.editor-content .dialog{background: #fff;position: fixed;width: 350px;height: 350px;display: none;font-size: 14px;border: 1px solid rgb(160,160,160);top:0;left:0;z-index: 1000;border-top-left-radius: 5px;
border-top-right-radius: 5px;}
.editor-content .dialog .bar{width: 100%;height: 30px;position: relative;line-height: 30px;font-size: 15px;text-indent: 0.5em;
  background: -webkit-gradient(linear,left top,left bottom,from(rgb(241,241,241)),to(rgb(167,167,167)));
cursor: move;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.editor-content .dialog .bar .closer{position: absolute;right: 2px;width: 16px;height: 16px;top: 2px;cursor: pointer;}
.editor-content .dialog .content{height: -webkit-calc(100% - 30px);overflow: scroll;}
