@import url(common.css);

html,body {
width:100%;
height:100%;
overflow:hidden;
background: #000;
}

* {
padding:0;
margin:0;
}

ul,li {
list-style:none
}

a:focus,button:focus {
outline:none
}

.w-fil {
width:100%
}

.h-fil {
height:100%
}

.fl {
float:left
}

.fr {
float:right
}

.fz0 {
font-size:0
}

.ab {
position:absolute
}

.re {
position:relative
}

.bl {
display:block
}

.hc {
margin:0 auto
}

.tc {
text-align:center
}

.cf::after {
content:'';
visibility:hidden;
clear:both;
font-size:0
}

input[readonly] {
border:0;
background:transparent
}
#flashbg{
    text-align: center;
    background: #000;
}
.bigFlash {
width: 1400px;
height: 700px;
position: absolute;
left: 50%;
margin-left: -700px;
top: 50%;
margin-top: -350px;
}
.smallFlash {
width: 100%;
height: 600px;
position: absolute;
left: 0;
top: 50%;
margin-top: -300px;
}
.navSmall {
width: 100%;
height: 600px;
position: absolute;
left: 0;
top: 41px;
}
.navBig {
width: 1400px;
height: 700px;
position: absolute;
left: 50%;
margin-left: -700px;
top: 41px;
}

.editor-content {
padding:0
}
.editor-content .home {
background:url(/static/img/home.png) no-repeat;
background-size:72px 72px;
width:72px;
height:72px;
position:fixed;
bottom:20px;
left:20px;
z-index:10000;
cursor:pointer;
-webkit-transition:all .4s;
transition:all .4s;
display: none;
}

.editor-content .home:hover {
-webkit-transition:all .7s linear;
-webkit-transform:rotate(6.28rad);
transition:all .7s;
transform:rotate(6.28rad)
}
.editor-content .bench {
left:0;
top:0
}

.editor-content .bench .bg {
left:0;
top:0;
background:#000;
opacity:.8
}

.editor-content .canvas {
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;
position:relative;
width:404px;
height:455px;
position: absolute;
left: 50%;
top:50%;
border: 1px dashed red;
margin-left: -202px;
margin-top: -225px;
background:url(http://img.wan.sogou.com/ufo/img/newnav/dialog3/ybg2.png) no-repeat
}

.editor-content .canvas .focus {
border:1px dashed red!important
}

.editor-content .dock,.editor-content .dialog {
font-family:'PFDin' ,'Microsoft Yahei',Arial ,sans-serif
}

.editor-content .dock {
width:100%;
font-size:12px;
height:80px;
position:fixed;
bottom:0;
z-index:9999
}

.editor-content .dock .dock-container {
position:absolute;
height:50px;
background-size:cover;
background-image:url(/static/img/dock.png);
background-position:center center;
background-repeat:no-repeat
}

.editor-content .dock .dock-item {
display:block;
font:bold 12px Arial,Helvetica,sans-serif;
width:40px;
color:#000;
bottom:0;
position:absolute;
text-align:center;
text-decoration:none
}

.editor-content .dock .dock-item .tit {
text-align:center;
color:#000;
display:none;
border-radius:10px;
background:rgba(255,255,255,0.7);
height:20px;
line-height:20px;
position:relative;
margin-bottom:5px
}

.editor-content .dock .dock-item .tit .tri {
width:0;
height:0;
border-left:5px solid transparent;
border-right:5px solid transparent;
border-top:5px solid rgba(255,255,255,0.5);
position:absolute;
left:50%;
margin-left:-5px;
bottom:-5px
}

.editor-content .dock .dock-item img {
border:0;
bottom:0;
left:0;
width:100%;
-webkit-box-reflect:below -16px -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(.5,transparent),to(white));
box-reflect:below -16px -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(.5,transparent),to(white))
}

.editor-content .canvas .ui-draggable.ui-draggable-dragging,.editor-content .canvas .ui-resizable.ui-resizable-resizing {
border:1px solid red!important
}

.editor-content .dialog {
position:fixed;
width:350px;
height:350px;
display:none;
font-size:14px;
top:-webkit-calc(50% - 175px);
top:-moz-calc(50% - 175px);
top:calc(50% - 175px);
left:-webkit-calc(50% - 175px);
left:-moz-calc(50% - 175px);
left:calc(50% - 175px);
z-index:1000
}

.editor-content .dialog .bar {
width:100%;
height:30px;
text-align:center;
position:relative;
line-height:30px;
font-size:13px;
background:-webkit-gradient(linear,left top,left bottom,from(#f1f1f1),to(#a7a7a7));
background:-moz-linear-gradient(top,#f1f1f1,#a7a7a7);
cursor:move;
border-top-left-radius:5px;
border-top-right-radius:5px
}

.editor-content .dialog .bar .closer {
position:absolute;
left:0;
width:16px;
height:16px;
padding:8px;
top:0;
cursor:pointer;
background:url(/static/img/closer.png) no-repeat;
background-size:16px auto;
background-origin:content-box;
font-size:0
}

.editor-content .dialog .toast {
background-color:rgba(255,255,255,0.9);
text-align:left;
color:green;
font:12px/2 simsun,arial,sans-serif;
border-bottom:1px solid green;
cursor:pointer;
text-indent:1em;
font-weight:900
}

.editor-content .dialog .toast.fatal {
color:red;
border-bottom:1px solid red
}

.editor-content .dialog .content {
height:-webkit-calc(100% - 30px);
height:-moz-calc(100% - 30px);
height:calc(100% - 30px);
overflow:scroll;
background-color:rgba(255,255,255,0.9);
border-bottom-left-radius:5px;
border-bottom-right-radius:5px
}

#dialog-about .content {
overflow:hidden
}

#dialog-help .content {
overflow-x:hidden
}

#dialog-about .content .appname {
font-size:14px;
font-weight:700;
font-family:cursive,arial,sans-serif
}

#dialog-about .content p {
text-indent:2em;
line-height:2;
font-size:12px;
margin:10px
}

.editor-content .startup {
position:fixed;
left:0;
top:0;
background:#6e707b url(/static/img/startup.jpg) no-repeat;
background-size:cover;
z-index:1000000
}

.editor-content .startup .list {
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;
position:absolute;
display:none;
left:10px;
top:10px;
font:15px/1.2 'Courier New',Courier,monospace,arial,serif;
color:#fff;
min-width:350px;
border-spacing:0;
overflow-y:hidden;
background:rgba(0,0,0,0.5);
padding:10px;
height:-webkit-calc(100% - 40px);
height:-moz-calc(100% - 40px);
height:calc(100% - 40px)
}

.editor-content .startup .starting {
width:100%;
text-align:center;
color:#fff;
margin-top:5px;
display:none
}

.editor-content .startup .login {
position:fixed;
top:50%;
width:72px;
height:72px;
left:50%;
margin-left:-36px;
margin-top:-36px;
text-align:center;
color:#fff;
font-size:14px
}

.editor-content .startup .login .icon {
width:72px;
height:72px;
background:url(/static/img/sogou.png) center center no-repeat;
background-size:72px auto;
cursor:pointer;
border-radius:36px;
overflow:hidden;
display:none;
-webkit-transition:all .4s;
transition:all .4s
}

.editor-content .startup .login .icon:hover {
-webkit-transition:all .7s linear;
-webkit-transform:rotate(6.28rad);
transition:all .7s;
transform:rotate(6.28rad)
}

.editor-content .topbar {
width:100%;
position:fixed;
font-size:14px;
line-height:20px;
color:#151617;
top:0;
height:20px;
left:0;
z-index:10000;
background:rgba(255,255,255,.6);
-moz-user-select:none;
-webkit-user-select:none;
user-select:none;
background:-webkit-gradient(linear,left top,left bottom,from(#e7e7e7),to(#aaa));
background:-moz-linear-gradient(top,#e7e7e7,#aaa)
}

.editor-content .topbar .item {
font-size: 12px;
margin:0 5px;
float:left;
color:#151617;
text-decoration:none;
padding:0 5px
}

.editor-content .topbar .menu .appname {
font-family:'Courier New',Courier,monospace,arial,serif;
font-weight:900
}

.editor-content .topbar .menu a.item:hover {
background:rgba(0,0,0,0.6);
color:#fff
}

.editor-content .topbar .battery {
background:url(/static/img/battery.png) 0 -220px no-repeat;
width:25px;
height:16px;
position:relative;
top:2px
}

.editor-content .topbar .battery.level-charge {
background-position:0 -80px
}

.editor-content .topbar .battery.level-full {
background-position:0 -100px
}

.editor-content .topbar .battery.level-100 {
background-position:0 -120px
}

.editor-content .topbar .battery.level-75 {
background-position:0 -140px
}

.editor-content .topbar .battery.level-50 {
background-position:0 -160px
}

.editor-content .topbar .battery.level-25 {
background-position:0 -180px
}

.editor-content .topbar .battery.level-empty {
background-position:0 -200px
}

.editor-content .topbar .network {
width:20px;
height:17px;
position:relative;
top:2px;
background:url(/static/img/wifi.png) -32px 0 no-repeat
}

.editor-content .topbar .network.off {
background-position:-1px 0
}

.editor-content .topbar .notify {
background:url(/static/img/notify.png) no-repeat;
width:25px;
height:16px;
position:relative;
top:1px
}

#dialog-prop table {
border-spacing:0;
border-top:1px rgba(0,0,0,.2) solid;
border-left:1px rgba(0,0,0,.2) solid
}

#dialog-prop td,#dialog-prop th {
border-bottom:1px rgba(0,0,0,.2) solid;
border-right:1px rgba(0,0,0,.2) solid;
text-align:center
}

#dialog-prop td:nth-child(2) {
word-break:break-word
}

#dialog-prop .content input:disabled {
background:transparent;
border:0
}

#dialog-setting {
width:700px;
height:450px
}

.dialog .content fieldset {
margin:5px 15px;
padding:5px;
border-radius:10px
}

.dialog .content fieldset .row {
margin:2px 5px
}

.dialog .content fieldset .row .tit {
width:30%;
display:inline-block;
text-align:right
}

.dialog input[type="text"],.dialog input[type="url"] {
padding:2px 5px;
border-radius:5px
}

.dialog button {
padding:2px 10px;
border:1px solid #7e7e7e;
font-size:12px;
border-radius:3px;
background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#a2a2a2));
background:-moz-linear-gradient(top,#fff,#a2a2a2);
cursor:pointer;
color: rgb(29,29,29);
}
.dialog button:active{
background:-webkit-gradient(linear,left top,left bottom,from(#caf1fd),to(#82eefd));
background:-moz-linear-gradient(top,#caf1fd,#82eefd); 
}
#dialog-draft .content li{
text-indent:2em;
height:25px;
line-height:25px;
cursor:pointer;
-moz-user-select:none;
-webkit-user-select:none;
user-select:none
}

#dialog-draft .content li:hover,#dialog-disk .content li:hover {
background:rgba(0,0,0,0.6);
color:#fff
}

#dialog-help ol,#dialog-help li {
margin-left:1em;
list-style-type:decimal
}
#dialog-help ol.update{
    color: red;
}
#dialog-new {
width:630px;
height:150px
}

#dialog-save {
width:715px;
height:180px
}

#dialog-tools .bar,#dialog-tree .bar {
height:50px
}

#dialog-tree .bar button.delete,#dialog-tools .bar button.showall {
position:absolute;
bottom:3px;
left:30px
}

#dialog-tools .tools-list li {
width:100%;
display:none
}

#dialog-tools .tools-list li:first-child {
display:block
}

#dialog-tools .tools-list li .item {
float:left;
width:72px;
text-decoration:none;
margin:5px
}

#dialog-tools .tools-list li .item img {
margin-left:7px
}

#dialog-tools .tools-list li .item span {
display:block;
width:100%;
color:#333;
text-decoration:none;
font-size:12px
}

#dialog-setting .linklist {
border:1px solid #ccc;
border-radius:5px;
background:rgba(255,255,255,0.5);
margin-top:10px;
border-spacing:0;
width:100%
}

#dialog-setting .linklist tr td {
padding:2px 10px;
text-align:center
}

#dialog-setting .linklist tr td.x a{
    color: #ccc;
    text-decoration: none;
}
#dialog-setting .linklist tr td.x a:hover{
    color:#bbb;
}
#dialog-setting .linklist tr:nth-child(2n) {
background:rgba(204,204,204,0.5)
}
#dialog-setting .tip{color:#bbb;font-size: 12px;}
#dialog-publish{width: 737px;height: 168px;}
#dialog-html {}
#dialog-html .wrapper{padding: 10px;}
#dialog-html .ul-wrapper{
    width: 220px;
    height: 320px;
    position: relative;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#dialog-html ul{
    background: #fff;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}
#dialog-html ul li{
    word-break: break-all;
    padding: 0 5px;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
}
#dialog-html ul li a{
    color: inherit;
}
#dialog-html ul li:hover{
    background: rgba(0,0,0,0.3);
}
#dialog-html ul li.selected{
    background:-webkit-gradient(linear,left top,left bottom,from(rgb(89,160,223)),to(rgb(43,114,201)));
    background:-moz-linear-gradient(top,rgb(89,160,223),rgb(43,114,201));
    color: #fff;
}
#dialog-html .tool{
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#dialog-html .tool a{
    text-decoration: none;
    color: #333;
    font-size: 12px;
    display: inline-block;
    width: 20px;
    text-align: center;
    border-right: 1px solid #ccc;
}

#dialog-html .new-flash{
    font-size: 12px;
    width: 400px;
    height: 230px;
    top: 0;
    left: 50%;
    margin-left: -200px;
    border: 1px solid #ccc;
    z-index: 100;
    border-radius-bottom-left: 3px;
    border-radius-bottom-right: 3px;
    background: rgba(230,230,230,0.9);
    display: none;
}
#dialog-html .new-flash p{
    padding: 1em;
    text-indent: 1em;
}
#dialog-html .new-flash div{
    height: 20px;
    margin-bottom: 5px;
}
#dialog-html .new-flash label{
    width: 13em;
    text-align: right;
    padding-right: 1em;
}
#dialog-html .new-flash label::after{
    content: ':';
}
#dialog-html .new-flash button{
    margin-right: 2em;
}
#dialog-html .generate{
    margin-right: 2em;
}
#dialog-html .tip{
    height: 20px;
    font-size: 13px;
    line-height: 20px;
    text-indent: 1em;
    font-weight: 700;
}