*{margin:0;padding:0;}

html{overflow-x:hidden;}
body{background:#000; font:12px Arial, sans-serif; color:#2a2a2a; overflow-x:hidden; } 
ul, li { list-style: none;}
a { text-decoration: none; outline: none; color: #676767;}
a:hover { text-decoration: underline; color: #dc1c09;}



/*flash*/
.flash-wrp{text-align:center;position:absolute;top:0;width:100%;height:600px;left:0;}
.flash-unnav-small{ height:600px;top:50%;margin-top:-300px; }
.flash-unnav-big{ top:50%;left:50%;height:700px;width:1400px;margin-top:-350px;margin-left:-700px; }
/*flash end*/


/*mask*/
.mask{ position:absolute; width:100%; background:#000; opacity:0.8; filter:alpha(opacity=80)\9;  }