*{margin:0;padding:0;}

html{overflow-x:hidden; }
body{background:#000; font:12px Arial, sans-serif; color:#2a2a2a;} 
ul, li { list-style: none;}
a { text-decoration: none; outline: none; color: #676767;}
a:hover { text-decoration: underline; color: #dc1c09;}

#lp-dialog{background:url(about:blank)}
#lp-dialog input{outline:none;}

/*flash*/
.flash-wrp{text-align:center;position:absolute;top:0;width:100%;height:600px;left:0;}
.flash-unnav-1000{ height:600px;top:0; }
.flash-unnav-1400{ top:0;left:50%;height:700px;width:1400px;margin-left:-700px; }
/*flash end*/


/*mask*/
.mask{ position:absolute; width:100%; background:#000; opacity:0.8; filter:alpha(opacity=80)\9;  }